---
import BaseLayout from "../layouts/BaseLayout.astro";
import QueryInput from "../components/QueryInput.astro";
import SqlEditor from "../components/SqlEditor.astro";
import DataTable from "../components/DataTable.astro";
import AnalysisPanel from "../components/AnalysisPanel.astro";
import ChartsPanel from "../components/ChartsPanel.astro";
---

<BaseLayout>
  <div class="card">
    <QueryInput />
    <SqlEditor />
    <DataTable />
    <ChartsPanel />
    <AnalysisPanel />
  </div>
</BaseLayout>
