---
import BaseLayout from "../layouts/BaseLayout.astro";
import QueryInput from "../components/QueryInput.astro";
import SqlEditor from "../components/SqlEditor.astro";
import DataTable from "../components/DataTable.astro";
---

<BaseLayout>
  <div class="card">
    <QueryInput />
    <SqlEditor />
    <DataTable />
  </div>
</BaseLayout>
